::marker {
    font-weight: 700;
}
.container.extended {
    @include respond(vsm) {
        max-width: 95%;
    }

    @include respond(sm) {
        max-width: 95%;
    }

    @include respond(md) {
        max-width: 95%;
    }

    @include respond(lg) {
        max-width: 80%;
    }

    @include respond(xl) {
        max-width: 80%;
    }

    @include respond(2xl) {
        max-width: 80%;
    }
}


.right-sidebar {
    @include respond(vsm) {
        display: none;
    }

    @include respond(sm) {
        display: none;
    }

    @include respond(md) {
        display: none;
    }

    @include respond(lg) {
        display: block;
    }

    @include respond(xl) {
        display: block;
    }

    @include respond(2xl) {
        display: block;
    }
}

.article-page.has-toc .main-container {
    @include respond(vsm) {
        flex-direction: column;
    }

    @include respond(sm) {
        flex-direction: column;
    }

    @include respond(md) {
        flex-direction: column;
    }

    @include respond(lg) {
        flex-direction: row;
    }

    @include respond(xl) {
        flex-direction: row;
    }

    @include respond(2xl) {
        flex-direction: row;
    }
}

.top-toc {
    @include respond(vsm) {
        display: block;
        margin: 0 0 20px 0;
    }

    @include respond(sm) {
        display: block;
        margin: 0 0 20px 0;
    }

    @include respond(md) {
        display: block;
        margin: 0 0 20px 0;
    }

    @include respond(lg) {
        display: none;
    }

    @include respond(xl) {
        display: none;
    }

    @include respond(2xl) {
        display: none;
    }
}

.article-page.has-toc {
    scroll-behavior: smooth;

    .left-sidebar {
        display: none;
    }

    .right-sidebar {
        width: 100%;
        padding: 0;
        display: none;

        @include respond(sm) {
            display: block;
        }

        @include respond(lg) {
            display: block;
        }

        @include respond(xl) {
            display: block;
        }

        @include respond(2xl) {
            display: block;
        }
    }
}

.title-toc {
	display: flex;
	align-items: center;
	padding: 20px 0px 0px 25px;
	text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--card-text-color-main);
    background-color: var(--mobile-toc-background);
}

.mobile--widget--toc {
	background-color: var(--mobile-toc-background);
    display: flex;
    flex-direction: column;
    color: var(--card-text-color-main);
}

.mobile--widget--toc #TableOfContents li {
    margin: 15px 20px;
    padding: 5px;
}

#article-toolbar .back-home {
    color: var(--body-text-color);
}

h2.widget-title.section-title::after {
    content: "";
    width: 75%;
    height: 2px;
    background-color: var(--body-text-color);
    display: block;
    margin-top: 5px;
}

.sidebar .widget:not(:last-of-type):after {
    display: none;
}

.menu {
    margin: 0;
    border-radius: var(--card-border-radius);
}

p, ul, li, summary {
    font-size: 16px;
}

code, pre {
    font-size: 12px;
}

.tagCloud .tagCloud-tags {
    display: grid;
    grid-template-columns: auto auto auto;
}

.tagCloud .tagCloud-tags a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.article-category a, .article-tags a {
    background-color: transparent;
    border: 1px solid var(--body-text-color);
    color: var(--body-text-color);
}

.article-page.has-toc #article-toolbar a:hover {
    background: var(--accent-color-darker);
    color: var(--accent-color-text);
}

.article-category a,
.article-tags a {
    margin-right: 0px;
    margin-bottom: 5px;
}

.article-content>p {
    margin: 1rem 0;
}

.article-page .main-article .article-content {
    margin: 0;
}

.article-page .main-article .article-footer .article-tags {
    display: none;
}

.article-page .main-article .article-header .article-image img {
    display: none;
}

.article-subtitle {
    display: none;
}

.article-time {
    color: var(--card-text-color-secondary);
    margin-top: 10px;
}

.article-time svg {
    margin-right: 0px;
    stroke-width: 2.33px;
}

.article-content hr {
    margin: 20px auto;
}

.center-text {
    text-align: center;
}

.break-line {
    // margin: 0 0 1rem;
    padding: 0 var(--card-padding);
}

.bold-text {
    font-weight: 700;
}

@media only screen and (max-width: 360px) {
    .dbox-list strong {
        width: 100%
    }

    .dbox-title {
        text-align: center
    }
}

.dbox-title {
    padding: 8px 10px;
    margin: 0px 0 2px;
    color: #fff;
    background: #3498db;
}

.dbox-wrap {
    font-size: 12px;
    font-weight: bold;
    background: var(--download-box);
    padding: 10px var(--card-padding);
}

.dbox {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dbox-list {
    background: #E4E4E4;
    margin-bottom: 2px;
    line-height: 26px;
    padding: 0 5px;
}

.dbox-list strong {
    background: #3498db;
    border-right: 2px solid #F5F5F5;
    width: 65px;
    display: block;
    float: left;
    margin-left: -5px;
    margin-right: 5px;
    color: #FFF;
    padding: 0 5px;
    text-align: center;
}

.dbox-list a {
    color: #6d6d6d;
}

.dbox-list a:hover {
    color: #222;
}

input {
    transition: 0.5s !important;
}

input:focus::placeholder {
    opacity: var(--link-background-opacity) !important;
    transition: 0.5s !important;
}

.menu {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.menu::-webkit-scrollbar {
    display: none;
}

.pswp__caption__center {
    text-align: center !important;
}

.right-sidebar {
    max-height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.right-sidebar::-webkit-scrollbar {
    display: none;
}

.spoiler {
    padding: 0 calc(var(--card-padding) - var(--heading-border-size));
    margin: 1em var(--card-padding);
    // border-left: var(--heading-border-size) solid var(--accent-color);
}

summary {
    cursor: pointer;
    outline: auto;
    text-indent: 0.8em;
}

textarea {
    transition: 0.5s !important;
}

textarea:focus::placeholder {
    opacity: var(--link-background-opacity) !important;
    transition: 0.5s !important;
}

ul.breadcrumb {
    list-style: none;
    padding: 0;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 2px;
    content: "";
}

ul.breadcrumb li a {
    color: var(--body-text-color);
}

ul.breadcrumb li a:hover {
    color: var(--accent-color-text);
}

.v[data-class="v"] * {
    font-family: var(--base-font-family) !important;
    color: var(--body-text-color) !important;
}

.v[data-class="v"] .info::before {
    border-top: none !important;
}

.v[data-class="v"] .vbtn {
    border: none !important;
    border-radius: var(--tag-border-radius) !important;
    color: var(--accent-color-text) !important;
    background-color: var(--accent-color) !important;
    transition: background-color 0.5s ease !important;
}

.v[data-class="v"] .vinputs-area .auth-section .input-wrapper {
    border-bottom: 1px solid rgba(126, 125, 125, 0.357) !important;
    transition: 0.5s !important;
}

.v[data-class="v"] .vinputs-area .auth-section .input-wrapper:hover {
    border-bottom: 1px solid var(--accent-color-link) !important;
    transition: 0.5s !important;
}

.v[data-class="v"] .vinputs-area .vextra-area .vsmile-icons {
    border-top: none !important;
    background: transparent !important;
}

.v[data-class="v"] .vinputs-area .textarea-wrapper textarea {
    padding: 0.5rem;
}

.v[data-class="v"] .vinputs-wrap,
.v[data-class="v"] .vinputs-wrap:hover {
    border: 1px solid var(--card-text-color-main) !important;
    transition: 0.5s !important;
}

.v[data-class="v"] .veditor {
    resize: none !important;
    height: 160px;
}

.v[data-class="v"] .vwrap .vheader .vinput:focus {
    border-bottom: 1px solid var(--card-text-color-main) !important;
}

.vicon {
    fill: currentColor !important;
}

.vnick,
.vmail,
.vlink {
    color: var(--accent-color-link) !important;
    transition: 0.5s !important;
}

.vnick:hover,
.vmail:hover,
.vlink:hover {
    color: var(--accent-color-link) !important;
    transition: 0.5s !important;
}

.vnick:focus,
.vmail:focus,
.vlink:focus {
    color: var(--accent-color-link) !important;
    transition: 0.5s !important;
}

.vnick,
.vlink {
    font-weight: 700 !important;
}

.vsys {
    display: none !important;
}