<div class="disqus-container">
  <div id="disqus_thread">
    <a
      href="#"
      class="comments-holder"
      onclick="loadDisqus();return false;"
      style="
        color: var(--accent-color-text);
        background-color: var(--accent-color);
        padding: 8px 16px;
        border-radius: var(--tag-border-radius);
        font-size: 1.4rem;
        transition: background-color 0.5s ease;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.4s;
        cursor: pointer;
        border: none;
      "
      >Klik untuk Melihat Komentar</a
    >
  </div>
</div>

<style>
  .disqus-container {
    background-color: var(--card-background);
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow-l1);
    padding: var(--card-padding);
  }
</style>

<script>
  var disqus_shortname = "rmdhnreza";
  var disqus_config = function () {
    this.page.url = '{{ trim .Permalink "/" }}';
    this.page.title = "{{ .Title }}";
    this.page.identifier = "{{ .File.UniqueID }}";
  };
  var is_disqus_loaded = false;
  function loadDisqus() {
    if (!is_disqus_loaded) {
      function load_minivaline() {
        setTimeout(function () {
          var HEAD = document.getElementsByTagName("head")[0] || document.documentElement;
          var src = "https://cdn.jsdelivr.net/npm/minivaline@latest/dist/MiniValine.min.js";
          var script = document.createElement("script");
          script.setAttribute("type", "text/javascript");
          script.onload = function () {
            pjax_minivaline();
          };
          script.setAttribute("src", src);
          HEAD.appendChild(script);
        }, 1);
      }
      function pjax_minivaline() {
        if (!document.querySelectorAll(".mvcomment")[0]) return;
        new MiniValine({
          el: ".mvcomment",
          appId: "Y9oQNP8KiGORnFYVlAYXMyz8-MdYXbMMI",
          appKey: "Nls4lGFA6b13yEb9ItK9wkzf",
          placeholder: "Write a Comment O(∩_∩)O~~",
        });
      }
      load_minivaline();
      document.addEventListener("pjax:complete", function () {
        pjax_minivaline();
      });
    }
  }

  window.addEventListener("onColorSchemeChange", (e) => {
    if (is_disqus_loaded) {
      DISQUS.reset({
        reload: true,
      });
    }
  });
</script>
